#mercury {
    background-color: #6a7a80;
}

#venus {
    background-color: #fce15a;
}

#earth {
    background-color: #02a1f7;
}

#mars {
    background-color: #c1540b;
}

#jupiter {
    background-color: #938969;
}

#saturn {
    background-color: #d3ba69;
}

#uranus {
    background-color: #b0f2fc;
}

#neptune {
    background-color: #0b63c1;
}  
